<div>
    <h3>Корзина</h3>
    <table class="table table-hover">
        <tr>
            <td>Название</td>
            <td>Кол-во</td>
            <td>Цена</td>
            <td></td>
        </tr>
        <tr ng-repeat="item in cart.items">
            <td>{{item.productTitle}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.pricePerProduct + ' x ' + item.quantity + ' = ' + item.price}}</td>
            <td>
                <button type="button" class="btn btn-danger" ng-click="removeFromCart(item.productId)">Убрать из корзины</button>
            </td>
        </tr>
        <tr>
            <td>Итого</td>
            <td></td>
            <td>{{cart.totalPrice}}</td>
        </tr>
    </table>
    <button type="button" class="btn btn-secondary" ng-click="clearCart()">Очистить корзину</button>
    <button type="button" class="btn btn-primary" ng-click="createOrder()">Оформить заказ</button>
</div>