<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>

  <script src="index.js"></script>
</head>
<body>
<div class="container" ng-controller="indexController">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Web-market</a>
        </li>
        <li class="nav-item" ng-show="!isUserLoggedIn()">
          <form class="align-middle" ng-submit="tryToAuth()">
            <div class="input-group input-group-sm" style="...">
              <input id="navLoginField" type="text" class="form-control" ng-model="user.username" aria-describedby="inputGroup-sizing-sm" style="...">
              <input id="navPasswordField" type="password" class="form-control" ng-model="user.password" aria-describedby="inputGroup-sizing-sm" style="...">
              <button id="navLoginSubmit" type="submit" class="btn btn-outline-warning btn-sm" style="...">Войти</button>
            </div>
          </form>
        </li>
        <li class="nav-item" ng-show="isUserLoggedIn()" style="...">
          <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="tryToLogout()">Выйти</button>
        </li>
        <li class="nav-item" style="...">
          <button type="button" class="btn btn-outline-warning btn-sm" ng-click="checkAuth()">Проверить юзера</button>
        </li>
      </ul>
    </div>
  </nav>
  <h1>Web-Market</h1>
  <h3>Список товаров</h3>
  <table class="table table-hover">
    <tr>
      <td>ID</td>
      <td>Название</td>
      <td>Цена</td>
      <td></td>
    </tr>
    <tr ng-repeat="p in productList">
      <td>{{p.id}}</td>
      <td>{{p.title}}</td>
      <td>{{p.price}}</td>
      <td>
        <button type="button" class="btn btn-primary" ng-click="addToCart(p.id)">Добавить в корзину</button>
      </td>
    </tr>
  </table>
  <h3>Корзина</h3>
  <table class="table table-hover">
    <tr>
      <td>Название</td>
      <td>Кол-во</td>
      <td>Цена</td>
      <td></td>
    </tr>
    <tr ng-repeat="item in cart.items">
      <td>{{item.productTitle}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.pricePerProduct + ' x ' + item.quantity + ' = ' + item.price}}</td>
      <td>
        <button type="button" class="btn btn-danger" ng-click="removeFromCart(item.productId)">Убрать из
          корзины
        </button>
      </td>
    </tr>
    <tr>
      <td>Итого</td>
      <td></td>
      <td>{{cart.totalPrice}}</td>
    </tr>
  </table>
  <button type="button" class="btn btn-secondary" ng-click="clearCart()">Очистить корзину</button>
  <button type="button" class="btn btn-primary" ng-click="createOrder()">Оформить заказ</button>
</div>
</body>
</html>